@font-face{font-family:fontello;src:url(../font/fontello.eot?61825266);src:url(../font/fontello.eot?61825266#iefix) format('embedded-opentype'),url(../font/fontello.woff2?61825266) format('woff2'),url(../font/fontello.woff?61825266) format('woff'),url(../font/fontello.ttf?61825266) format('truetype'),url(../font/fontello.svg?61825266#fontello) format('svg');font-weight:400;font-style:normal}
body,html{height:100%;overflow:hidden}
body{margin:0;background:#ECECEC;position:relative; display: flex; align-items: center; justify-content: center;}
.content{width: 50%;}
.svg-container{width:50%;height:0;padding-top:50%;position:relative;margin:auto;overflow:hidden;}
.svg-container svg{position:absolute;top:0;left:0;}
.socials,.socials span{vertical-align:middle}
.socials{position: absolute; top: -20px; left: 0; right: 0; height: 30px; width: 100px; border-bottom-left-radius: 9px; border-bottom-right-radius: 9px; margin: auto; font-family: 'fontello'; background: #000; text-align: center; transition: top 0.3s;}
.socials span{opacity: 0; transition: opacity 0.3s;}
.socials a{color: #ECECEC; text-decoration: none;}
.socials:hover{top:0;}
.socials:hover > span{opacity: 1;}
.vk:hover{color: #2F99CA;}
.insta:hover{color: #CA2FC5;}
.path-original{fill:#000;}
@media screen and (max-width: 640px)
{
	.socials{top:0;}
	.socials span{opacity: 1;}
}